body {
  background: papayawhip;
}* {
  border: 1px solid teal;
}
.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  text-align: center;
  flex-wrap: wrap;
}
.a{
  width: 100%
}
.b {
  width: 100%;
}
.c, .d, .e {
  flex-grow: 1;
}
.f {
  width: 100%;
}

@media (min-width: 600px) {
  .b {
    flex-grow: 3;
  }
  .c, .d, .e {
    flex-grow: 1;
  }
}